*.zip
*.gz

fast-style-transfer/checkpoints
fast-style-transfer/examples/content/self
fast-style-transfer/output_files/self

DeepLearningFlappyBird/saved_networks/*

project1/DLND-your-first-network/.ipynb_checkpoints/*
sentiment_analysis/sentiment_network/.ipynb_checkpoints/*
sentiment_analysis_tflearn/sentiment_analysis_tflearn/.ipynb_checkpoints/*
digit_recognition_tflearn/.ipynb_checkpoints/*
digit_recognition_tflearn/mnist/*

sentiment_analysis_tflearn/sentiment_analysis_tflearn/labels.txt
sentiment_analysis_tflearn/sentiment_analysis_tflearn/reviews.txt
